.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent {
    display: flex;
    justify-content: space-between;
    /* margin-top: 2px;
    margin-bottom: 2px; */
}

.box {
    border-style: solid;
    border-color: black;
    /* background-color: aqua; */
}

#Heading {
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#grid {
    width: 650px;
    height: 650px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    border: 5px solid blue;
    /* justify-content: space-around; */
}

#information {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    margin: 5px;
}

button {
    margin: 20px;
}